*.gem
.bundle
.coverage
.dpl
.yardoc
Gemfile.lock
NOTES.md
coverage
google_appengine/*
google_appengine_*.zip
npm-debug.log
play
setuptools*.zip
stubs
vendor
tmp

# Ignore editor specific configs
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.generators
.rakeTasks

# System Files
.DS_Store
Thumbs.db
.tool-versions
