language: ruby
rvm:
# These rubies are in active use
- "2.2.1"
- "2.2.5"
- "2.2.6"
- "2.2.7"
- "2.4.0"
- "2.4.2"
- "2.4.3"

# This is future compatibility
- "2.5"

jobs:
  include:
    - stage: deploy
      cache: false
      before_deploy:
        - sed -i.bak "s/VERSION = '.*'/VERSION = '${DPL_VERSION}'/g" lib/dpl/version.rb
        - git config user.name "travisbot"
        - git config user.email "deploy@travis-ci.org"
        - git add lib/dpl/version.rb
        - git commit -m "Update DPL::Version"
      deploy:
        - provider: rubygems
          script: skip
          edge:
            branch: master
          api_key:
            secure: ZmZoDL1tilWvQrqRWDm2K4xQ5Grt9eRJzYVZPLANR0P1TM5BJBLk+UhWCWCPkkDVIBWMa5ANsiFYBxtH65Lw+uqMztSpVusk0l0LQXZGv9jMpT9445A8008U3vvfS0ke7IG8Q4bMAC7Sd6VGaiHDyZC7zmNvnqMpmVX7ShcgBME=
          gem: dpl
          gemspec_glob: 'dpl*.gemspec'
          on:
            repo: travis-ci/dpl
          if: branch = master AND NOT type IN (pull_request)

env:
  global:
    - DPL_VERSION=$(ruby -I lib -r dpl/version.rb -e "puts DPL::VERSION.succ + \".travis.#{ENV['TRAVIS_JOB_NUMBER']}\"")

sudo: false

before_cache:
  - rm -rf $GEM_HOME/cache/dpl-*.travis.*.gem $GEM_HOME/gems/dpl-*.travis.* $GEM_HOME/specifications/dpl-*.travis.*
  - git checkout bin/dpl

cache:
  directories:
    - vendor/cache
    - $GEM_HOME
    - node_modules

before_install:
  - gem update bundler

before_script:
  - rm -f $(ruby -r rubygems -e "puts Gem.bindir")/dpl

script:
  - rake

