dist: focal

language: ruby
rvm:
  - 3.1
  - 3.2
  - 3.3

cache:
  - bundler

script:
  - bundle exec rspec

jobs:
  include:
    - &job
      stage: test runtime dependency installation
      if: commit_message !~ /skip:test_dependencies/ AND env(SKIP_TEST_DEPENDENCIES) IS blank
      cache: false
      install:
      - rvm use 3.3 --install --binary --fuzzy
      - gem build dpl.gemspec
      - gem install dpl-*.gem
      # - gem update --system # do not update rubygems as it is not always a step in the build process
      - nvm install 18.20.2
      - nvm use 18.20.2
      - node --version
      script:
      - .travis/test_install
      rvm: 3.3
    - <<: *job
      language: python
      python: 2.7
    - <<: *job
      language: python
      python: 3.7
    - <<: *job
      language: python
      python: 3.8
    - <<: *job
      language: python
      python: 3.9
    - <<: *job
      language: python
      python: 3.10
    - <<: *job
      language: python
      python: 3.11
